body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F8F8EE;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

body {
    height: 100vmin;
}

.wrapper-new {
  display: grid;
  height: 100vmin;
  grid-template-columns: 1fr;
  margin: 0 auto;
  justify-items: center;
  align-content: center;
}

#new-btn {
  justify-self: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

a {
        background-color: goldenrod;
        text-decoration: none;
        color: white;
        border-radius: .25rem;
        text-align: center;
        display: inline-block;
        transition: all .3s;
}

a:hover {
    opacity: .6;
}

.hero {
    background: url('/images/beans.jpeg');
    background-size: cover;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
    align-items: center;
    color: white;
}
.a-nav {
    background-color: white;
}
p, a {
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.btn {
    display: flex;
    align-items: center;

}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 38px;
    background-color:white;
}

nav a {
   color: black;
}

nav a:hover {

}

#logo {

}

.breweries > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
  }
  
  .breweries > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
  }
  
  .breweries > ul > li > figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
  }
  
  .breweries > ul > li > figure > img {
    width: 100%;
  }
  
  .breweries > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
  }
  
  .breweries > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
  }
  
  .breweries > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
  }
  
  .breweries > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
  }

footer {
    background-color: #333;
    padding: .75rem;
    color: white;
    text-align: center;
    font-size: .75rem;
  }
