body {
  padding: 0;
  height: 100vmin;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F8F8EE;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

body {
    padding: 0;
    height: 100vmin;
}

.wrapper-new {
  display: grid !important;
  height: 100vmin !important;
  grid-template-columns: 1fr !important;
  margin: 0 auto !important;
  justify-items: center !important;
  align-content: center !important;
}

.nav-wrapper {
  background-color: #F8F8EE;
}

#nav-mobile {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}


.nav-bar {
  display: flex;
  align-items: center;
  height: 14vh;
  background-color: #512A1F;
}

#new-btn {
  justify-self: center;
}

#log {
  align-items: end;
  text-align: right;
  margin-right: 10px;
}

#app-name {
  color: goldenrod;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

h2 {
  padding-left: 50px;
}

a {
        /* background-color: goldenrod; */
        text-decoration: none;
        color: white;
        /* border-radius: .25rem; */
        text-align: center;
        /* display: inline-block; */
        transition: all .3s;
}

a:hover {
    opacity: .6;
}

.hero {
    background: url('/images/coffee-beans.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
    align-items: center;
    color: goldenrod;
}

p, a {
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    padding: 0;
    scroll-behavior: smooth;
}

.btn {
    display: flex;
    align-items: center;

}

.breweries {
  display: grid;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #512A1F; 
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

.headers {
  text-align: center;
  align-items: center;
}

#coffee-shop {
  border: none;
  font-size: 20px;
}

span {
  font-weight: bold;
}

.a-details {
  border: none;
  color: black;
}

.breweries > ul {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    grid-gap: 1rem;
  }
  
  .breweries > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
  }
  
  .breweries > ul > li > figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
  }
  
  .breweries > ul > li > figure > img {
    width: 100%;
  }
  
  .breweries > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
  }
  
  .breweries > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
  }
  
  .breweries > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
  }
  
  .breweries > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
  }

footer {
    margin: 0 auto;
    width: 100%;
    background-color: #333;
    padding: .75rem;
    color: white;
    text-align: center;
    font-size: .75rem;
    padding-top: 5px;
  }

  li {
    list-style: none;
  }
