<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
       
    <div class="wrapper-new">
        <h2>Create a New Nook</h2><br>
        <form action="/nooks" method="POST">
            <label>Nook Name:
              <input type="text" name="nook">
            </label><br>
            <label>Coffee Quality:
              <select type="text" name="coffee">
                <option value="Gas Station" class="custom-select">Gas Station</option>
                <option value="Instant" class="custom-select">Instant</option>
                <option value="Starbucks" class="custom-select">Starbucks</option>
                <option value="Hipster" class="custom-select">Hipster</option>
              </select>
            </label><br>
            <label>Do They Have WiFi?
                <select name="wifi" type="text">
                    <option value="Yes" class="custom-select">Yes</option>
                    <option value="No" class="custom-select">No</option>
                </select>
            </label><br>
            <label>Is there room to work?
                <select name="space">
                    <option value="Cramped" class="custom-select">Cramped</option>
                    <option value="Cozy" class="custom-select">Cozy</option>
                    <option value="Copious" class="custom-select">Copious</option>
                </select>
            </label><br>
            <label>Are there Outlets?
                <select name="outlets">
                    <option value="Charge Before You Go" class="custom-select">Charge Before You Go</option>
                    <option value="Bring a Power Strip" class="custom-select">Bring a Power Strip</option>
                    <option value="Outlet Heaven" class="custom-select">Outlet Heaven</option>
                </select>
            </label><br>
            <label>What are their Hours?
                <input type="time" name="hours" min="12:00 am" max="24:00 pm"><span>to</span><input type="time" name="hours" min="12:00 am" max="24:00 pm">
            </label><br>
            <input id="new-btn" type="submit" value="Add Nook">
    
        </form>
    </div>
</body>
</html>

